/* https://www.w3schools.com/cssref/pr_list-style-type.asp */

body{

    text-align: center;
}


h1{
    max-width:80%;
    min-width: 20%;
    border: 10px solid rgb(224, 191, 119);
    /* -moz-border-image: url("images/dots.gif") 11 11 11 11 stretch; */
    padding: 50px;
    margin: 20px;
    background-color: cornflowerblue;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 500%;
    


}

#first{
    max-width:80%;
    min-width: 20%;
    border: medium solid rgb(241, 61, 16);
    padding: 50px;
    margin: 20px;
    background-color: rgb(207, 236, 207);
    font-size: 50%;
    margin-left: auto;
    margin-right: auto



}

.links{
    max-width:50%;
    min-width: 20%;
    border: medium solid rgb(241, 61, 16);
    padding: 20px;
    margin: 12px;
    background-color: rgb(207, 236, 207);
    font-size: 200%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: decimal;
    

}

p{
    max-width:80%;
    min-width: 20%;
    border: medium solid rgb(241, 61, 16);
    padding: 50px;
    margin: 20px;
    background-color: rgb(100, 237, 100);
    font-size: 400%;
    margin-left: auto;
    margin-right: auto

}

ul{
    max-width:80%;
    min-width: 20%;
    border: medium solid rgb(241, 61, 16);
    padding: 50px;
    margin: 20px;
    background-color: rgb(100, 237, 100);
    font-size: 400%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: circle;
    text-align: left;




}


/* 
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto } */
